@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* QR */
.bg-light-blue{
    background-color:hsl(212, 45%, 89%);
}
.w-desktop{
    width:920px;
    height: 508px;
}
.w-400{
    width:350px;
}

.h-800{
    height: 508px;
}

.w-mobile{
    width:375px;
    height:920px;
    background-color: #6565e7;
}

.text-blue-1000{
    color:hsl(238, 29%, 16%);
}
.text-m-red{
    color:hsl(14, 88%, 65%)
}
.text-grayish-verydark{
    color: hsl(237, 12%, 33%);
}
.text-grayish-dark{
    color: hsl(240, 6%, 50%);
}

.text-body{
    font-size: 14px;
}
.font-advice{
    font-family: 'Manrope', sans-serif;
}

.font-tips{
    font-family: 'Space Mono', monospace;
}
.text-body-lg{
    font-size: 28px;
}
.text-body-md{
    font-size: 24px;
}

.tracking-2{
    letter-spacing: 0.4rem;
}
.text-body-medium{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
.text-light-cyan{
    color: hsl(193, 38%, 86%);
}

.bg-light-cyan{
    background-color: hsl(193, 38%, 86%);
}
.border-b-1{
    border-bottom: 1px solid;
}
.border-light-cyan{
    border-color: hsl(193, 38%, 86%);
}
.bg-neon-green{
    background-color: hsl(150, 100%, 66%);
}
.bg-dark-green{
    background-color: hsl(46, 76%, 87%);
}
.text-neon-green{
    color: hsl(150, 100%, 66%);
}

.bg-grayish-blue{
    background-color: hsl(217, 19%, 24%) ;
}
.bg-dark-blue{
background-color: hsl(218, 23%, 16%);
}
.bg-m-violet{
    background-color:hsl(273, 75%, 66%);
    color:hsl(273, 75%, 66%)
}
.bg-m-blue-900{
    background-color:hsl(226, 43%, 10%);
}

.bg-m-blue-800{
    background-color: hsl(235, 46%, 20%);
}
.bg-m-blue-600{
    background-color:hsl(246, 80%, 60%);
}
.bg-m-blue-500{
    background-color: hsl(195, 74%, 62%);
}

.bg-m-blue-300{
    background-color:hsl(235, 45%, 61%);
}

.bg-m-blue-200{
    background-color: hsl(236, 100%, 87%);
}
.text-m-blue-200{
    color: hsl(236, 100%, 87%);
}

.bg-m-blue{
    background-color:hsl(240, 73%, 65%);
}

.bg-m-red-400{
    background-color:hsl(348, 100%, 68%);
}

.bg-m-red-200{
    background-color:hsl(15, 100%, 70%);
}

.bg-m-lime-500{
    background-color:hsl(145, 58%, 55%);
}

.bg-m-violet-500{
    background-color:hsl(264, 64%, 52%);
}

.bg-m-orange-100{
    background-color: hsl(43, 84%, 65%);
}


.bg-gradient-m{
    background-image: linear-gradient(#af67e9, #6565e7);
}

.bg-m-cyan-900{
    background-color: hsl(183, 100%, 15%);
}
.text-m-cyan-900{
    color: hsl(183, 100%, 15%);
}
.hover\:text-m-cyan-900:hover{
    color: hsl(183, 100%, 15%);
}
.bg-m-cyan-800 {
    background-color: hsl(172, 67%, 45%);
}

.hover\:bg-m-cyan-800:hover  {
    --tw-bg-opacity:1;
    background-color:hsl(172, 67%, 45%);
    /* background-color: ; */
}
.text-m-cyan-800{
    color: hsl(172, 67%, 45%);
}
.border-m-cyan-800{
    border-color: hsl(172, 67%, 45%);
}
.focus\:border-m-cyan-800:focus{
    border-color: hsl(172, 67%, 45%);
}
.focus-within\:border-r-500:focus-within {
    --tw-border-opacity: 1;
    border-color: hsl(224, 81%, 60%);
  }

  .border-r-500{
    border-color: hsl(224, 81%, 60%);
  }

  .focus\:border-r-500:focus {
    --tw-border-opacity: 1;
    border-color:hsl(224, 81%, 60%);
  }
  
.bg-m-cyan-700{
    background-color:  hsl(186, 14%, 43%);
}
.bg-m-cyan-600{
    background-color:  hsl(184, 14%, 56%);
}
.text-m-cyan-600{
    color:  hsl(184, 14%, 56%);
}
.bg-m-cyan-500{
    background-color:   hsl(185, 41%, 84%);
}
.bg-m-cyan-400{
    background-color:   hsl(189, 41%, 97%);
}
.bg-m-cyan-300{
    background-color: #9FE8DF;
}
.hover\:bg-m-cyan-300:hover  {
    background-color: #9FE8DF;
}

.inset-x-100 {
    left: 25.5rem/* 384px */;
    right: 25.5rem/* 384px */;
}

/* LANDING */
.font-barlow{
    font-family: 'Barlow', sans-serif;
}
.font-fraunces{
    font-family: 'Fraunces', serif;
}
.text-18{
    font-size: 18px;
}
.bg-soft-red{
    background-color: #FD6E60;
}
.border-soft-red{
    border-color: #FD6E60;
}
.border-yellow{
    border-color: hsl(51, 100%, 49%);
}
.bg-yellow{
    background-color: hsl(51, 100%, 49%);
}
.bg-m-cyan{
    background-color: #90D4C5 ;
}
.bg-m-sky-100{
    background-color:#65cdff ;
}
.bg-dark-cyan{
    background-color: hsl(167, 40%, 24%);
}
.bg-m-gray-600{
    background-color: hsl(212, 27%, 19%);
}
.bg-m-gray-500{
    background-color: hsl(213, 9%, 39%);
}
.bg-m-gray-400{
    background-color: hsl(232, 10%, 55%);
}
.bg-m-gray-300{
    background-color: hsl(210, 4%, 67%);
}
.text-m-gray-600{
    color: hsl(212, 27%, 19%);
}
.text-m-gray-500{
    color: hsl(213, 9%, 39%);
}
.text-m-gray-400{
    color: hsl(232, 10%, 55%);
}
.text-m-gray-300{
    color: hsl(210, 4%, 67%);
}
.text-dark-cyan{
    color: hsl(167, 40%, 24%);
}
.text-moderate-cyan{
    color: hsl(168, 34%, 41%);
}
.text-dark-blue{
    color:  hsl(198, 62%, 26%);
}
.bg-m-sky{
    background-color:#3EBFFF;
}

.bg-light-sky{
    background-color:#6DD1FF;
}
.hover\:bg-light-sky:hover  {
    background-color: #6DD1FF;
}


/* INTRO */

.font-epilogue{
    font-family: 'Epilogue', sans-serif;
}

.bg-almost-white{
 background-color:  hsl(0, 0%, 98%);   
}
.bg-almost-gray{
    background-color:  hsl(0, 0%, 41%);   
}
.bg-almost-black{
    background-color:   hsl(0, 0%, 8%);   
}

.bg-almost-black-t50{
    background-color:   rgba(0 0 0 50%);     
}

.hover\:bg-almost-white:hover  {
    background-color:  hsl(0, 0%, 98%);
}

.text-almost-white{
    color:  hsl(0, 0%, 98%);   
   }
   .text-almost-gray{
       color:  hsl(0, 0%, 41%);   
   }
   .text-almost-black{
       color:   hsl(0, 0%, 8%);   
   }

   /* PRICING */
.font-manrope{
    font-family: 'Manrope', sans-serif;
}
.font-15{
    font-size:15px;
}
.bg-p-cyan-100{
    background-color: #A5F3EB ;
}
.bg-p-cyan-200{
background-color: #10D5C2 ;
}

.bg-p-cyan-300{
background-color: #1FADA4;
}

.hover\:bg-p-cyan-300:hover {
    background-color: #1FADA4;
    }

.border-cyan{
    border-color:#10D5C2 ;
}

.bg-p-orange-100{
    background-color:#FEECE7 ;
}
.bg-p-orange-200{
    background-color:#FF8C66 ;
}

.bg-p-lila-200{
    background-color:#BDCCFF ;
}

.bg-p-blue-100{
    background-color:#FAFBFF ;
}
.bg-p-blue-200{
    background-color:#EAEEFB ;
}
.bg-p-blue-300{
    background-color:#CDD7EE ;
}
.bg-p-blue-400{
    background-color:#858FAD ;
}
.bg-p-blue-500{
    background-color:#293356 ;
}
.bg-p-pale-blue{
    background-color:#BDCCFF ;
}

.text-p-orange-200{
    color:#FF8C66 ;
}
.text-p-blue-100{
    color:#FAFBFF ;
}
.text-p-blue-200{
    color:#EAEEFB ;
}
.text-p-blue-300{
    color:#CDD7EE ;
}
.text-p-blue-400{
    color:#858FAD ;
}
.text-p-blue-500{
    color:#293356 ;
}
.text-p-pale-blue{
    color:#BDCCFF ;
}

.bg-m-gradient{
    /* background: linear-gradient(180deg, #F1F5FE 56.76%, #F9FAFF 56.77%); */

}
 .cursor-cyan::-webkit-slider-thumb{
    /* @apply appearance-none w-10 rounded-full h-10 z-40  bg-p-cyan-200 ;
    box-shadow: -400px 0 0 400px #10D5C2;
     */
     width: 15px;
     -webkit-appearance: none;
       appearance: none;
     height: 15px;
     cursor: ew-resize;
     background: #10D5C2;
     box-shadow: -405px 0 0 400px #10D5C2;
     border-radius: 50%;
    }
.boton-cyan::-webkit-slider-thumb{
    @apply appearance-none w-10 rounded-full h-10 z-40  bg-p-cyan-200 bg-slider bg-center bg-no-repeat ;
    box-shadow: 0px 0 0 5px #10D5C2;
    
}
.boton-cyan::-webkit-slider-thumb:hover{ 
    @apply appearance-none w-14 h-14 z-40 rounded-full bg-p-cyan-300   ;
    box-shadow: 0px 0px 15px hsl(174, 86%, 45%);
}

    
    /* input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
          appearance: none;
        height: 15px;
        cursor: ew-resize;
        background: #10D5C2;
        box-shadow: -405px 0 0 400px #10D5C2;
        border-radius: 50%;
        
    } */

/* CALCULATOR THEME 1*/
.font-spartan{
    font-family: 'League Spartan', sans-serif;
}

.text-32{
    font-size:32px;
}

.bg-main-1{
    background-color:hsl(222, 26%, 31%);
}
.bg-toggle-1{
    background-color:hsl(223, 31%, 20%);
}
.bg-screen-1{
    background-color:hsl(224, 36%, 15%);
}
.bg-key-blue-1{
    background-color:  hsl(225, 21%, 49%);
}
.shadow-key-blue-1{
  box-shadow: 0 4px 0px hsl(224, 28%, 35%);
}
.bg-key-red-1{
background-color: hsl(6, 63%, 50%);
}
.shadow-key-red-1{
    box-shadow: 0 4px 0px hsl(6, 70%, 34%);
  }

 .bg-key-orange-1{
     background-color:  hsl(30, 25%, 89%);
 } 

 .shadow-key-orange-1{
    box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
  }

 .text-calc-blue{
     color: hsl(221, 14%, 31%);
     
 } 

 /* CALCULATOR THEME 2*/

.bg-main-2{
    background-color:hsl(0, 0%, 90%);
}
.bg-toggle-2{
    background-color:hsl(0, 5%, 81%);
}
.bg-screen-2{
    background-color:hsl(0, 0%, 93%);
}
.bg-key-cyan-2{
    background-color:  hsl(185, 42%, 37%);
}

.shadow-key-cyan-2{
  box-shadow: 0 4px 0px hsl(185, 58%, 25%);
}
.bg-key-orange-2{
background-color:  hsl(25, 98%, 40%);
}
.shadow-key-orange-2{
    box-shadow: 0 4px 1px hsl(25, 99%, 27%);
  }

 .bg-key-yellow-2{
     background-color:  hsl(45, 7%, 89%);
 } 

 .shadow-key-grayorange-2{
    box-shadow: 0 4px 0px hsl(35, 11%, 61%);
  }

 .text-calc-grayyellow{
     color: hsl(60, 10%, 19%);
     
 } 

  /* CALCULATOR THEME 3*/

.bg-main-3{
    background-color:hsl(268, 75%, 9%);
}
.bg-toggle-3{
    background-color:hsl(268, 71%, 12%);
}
.bg-screen-3{
    background-color:hsl(281, 89%, 26%);
}

.bg-key-violet{
    background-color:hsl(281, 89%, 26%);
}
.bg-key-darkviolet{
    background-color:hsl(268, 47%, 21%);
}
.bg-key-cyan-3{
    background-color:   hsl(176, 100%, 44%);
}
.shadow-key-darkmagenta-3{
    box-shadow: 0 4px 0px  hsl(290, 70%, 36%);
  }
.shadow-key-magenta-3{
  box-shadow: 0 4px 0px hsl(285, 91%, 52%);
}
.shadow-key-cyan-3{
    box-shadow: 0 4px 0px hsl(177, 92%, 70%);
  }
.bg-key-orange-3{
background-color:  hsl(25, 98%, 40%);
}
.shadow-key-orange-3{
    box-shadow: 0 0 10px hsl(25, 99%, 27%);
  }

 .bg-key-yellow-3{
     background-color:  hsl(45, 7%, 89%);
 } 

 .shadow-key-grayorange-3{
    box-shadow: 0 0 10px hsl(35, 11%, 61%);
  }

 .text-calc-yellow{
     color: hsl(52, 100%, 62%);
     
 } 
 /* e-commerce */

 .font-16{
     font-size: 16px;
 }
.font-kumbhsans{
    font-family: 'Kumbh Sans', sans-serif;
 }

 .bg-ec-orange {
     background-color:  hsl(26, 100%, 55%);
 }
.border-ec-orange{
    border-color:  hsl(26, 100%, 55%);
}
.hover\:bg-ec-orange:hover {
    background-color:  hsl(26, 100%, 55%);
}
.hover\:text-ec-orange:hover {
    color:  hsl(26, 100%, 55%);
}
.hover\:border-ec-orange:hover{
    border-color:  hsl(26, 100%, 55%);
}
 .hover\:shadow-ec-orange:hover {
  box-shadow: 0 6px 20px  hsl(26, 100%, 55%);
}
 .bg-ec-paleorange {
    background-color:  hsl(25, 100%, 94%);
}
.bg-ec-varkblue {
    background-color:  hsl(220, 13%, 13%);
}

.bg-ec-dark-grayishblue {
    background-color:  hsl(219, 9%, 45%);
}

.bg-ec-grayishblue {
    background-color:  hsl(220, 14%, 75%);
}

.bg-ec-light-grayishblue {
    background-color:   hsl(223, 64%, 98%);
}

.text-ec-orange {
    color:  hsl(26, 100%, 55%);
}
.text-ec-paleorange {
   color:  hsl(25, 100%, 94%);
}
.text-ec-varkblue {
    color:  hsl(220, 13%, 13%);
}

.text-ec-dark-grayishblue {
    color:  hsl(219, 9%, 45%);
}

.text-ec-grayishblue {
    color:  hsl(220, 14%, 75%);
}

.text-ec-light-grayishblue {
    color:   hsl(223, 64%, 98%);
}

/* ROOM HOMEPAGE */

.bg-room-dark-gray{
background-color:hsl(0, 0%, 63%) ;
}
.bg-room-very-dark-gray{
background-color: hsl(0, 0%, 27%) ;
}
.hover\:bg-room-very-dark-gray:hover {
    background-color: hsl(0, 0%, 27%) ; 
}

.text-room-dark-gray{
color:hsl(0, 0%, 63%) ;
}
.text-room-very-dark-gray{
color: hsl(0, 0%, 27%) ;
}
.hover\:text-room-very-dark-gray:hover {
    color: hsl(0, 0%, 27%) ; 
}
.hover\:text-room-dark-gray:hover {
    color:hsl(0, 0%, 63%) ;
}
.font-12{
    font-size: 12px;
}